:root {
  --skeleton-color: #ccc;
  --skeleton-icon-color: rgba(0, 0, 0, 0.25); }

.skeleton-avatar {
  display: inline-block; }
  .skeleton-avatar svg {
    width: 100%;
    height: auto; }
  .skeleton-avatar rect {
    fill: var(--skeleton-color); }
  .skeleton-avatar path {
    fill: var(--skeleton-icon-color); }
