:root {
  --skeleton-color: #ccc;
  --skeleton-icon-color: rgba(0, 0, 0, 0.25); }

@font-face {
  font-family: 'skeleton';
  src: url("./fonts/skeleton.woff2") format("woff2"), url("./fonts/skeleton.woff") format("woff");
  font-weight: 100, 200, 300, 400, 500, 600, 700, 800, 900;
  font-style: normal, italic;
  font-display: block; }

.skeleton-text {
  font-family: 'skeleton' !important;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .skeleton-text,
  .skeleton-text * {
    color: var(--skeleton-color) !important;
    letter-spacing: -0.015em !important; }
